/* item wala mdun ahe  for all items */
/* 
.Kg-ok{
   background-color: rgb(24, 24, 20);
} */


/* app.jsx mdeun ahe heading tag */
.om{
  background: #f3edeb;
  text-align: center;
}


/* item wala mdun ahe inside the specicfic item */

/* .Kg-Span{
color: aquamarine;
font-weight: 1000;
} */