.container-fluid{
  background-color: rgb(240, 229, 107);
}
.kg-row{
  margin: 10px 7px;
  text-align: left;
}

input {
  width: 100%;
}
.align {
 text-align: left;
 
}
button{
  align-items: right;
}

.kg-button {
  min-width: 80px;
}